@font-face{
    src: url(../fonts/RobotoThin.ttf);
    font-family: "Roboto";
}
@font-face{
    src: url(../fonts/Roboto-Regular.ttf);
    font-family: "Regular";
}
@font-face{
    src: url(../fonts/Roboto-Bold.ttf);
    font-family: "Bold";
}
@font-face{
    src: url(../fonts/BigNoodle.ttf);
    font-family: "Noodle";
}
@font-face{
    src: url(../fonts/Modata.ttf);
    font-family: "Modata";
}
@font-face{
    src: url(../fonts/fontello.ttf);
    font-family: "Fontello";
}
html{
    font-size: 10px;
}
body{
    margin: 0;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.navbar{
    background-color: #f8f6f6;
    &__navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.navigation{
    &__title{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__maintitle{
        margin-left:30px; 
        font-family: "Noodle";
        font-size: 4rem;
        color: #353535;
    }
    &__logo{
        width: 29px;
        height: 45px;
    }
}
.burger{
    font-family: "Fontello";
    font-size: 2.5rem;
}
.creative{
    background-color: #353535;
}
.creative-main{
    display:flex;
    flex-direction: column;
    align-items: center; 
    &__maintitle{ 
    letter-spacing: 6px;
    margin-bottom: 0px;
    padding-top: 330px;
    font-family: "Noodle";
    font-size: 7.2rem;
    color: #f8f6f6;   
    }
    &__title{ 
        letter-spacing: 6px;
        margin-top: 60px;
        padding-bottom: 130px;
        font-family: "Noodle";
        font-size: 3.6rem;
        color: #f8f6f6;  
    }
}    
.svg-icon{
    fill: #f8f6f6;
    stroke: #f8f6f6;
}
.mouse{
    display:flex;
    flex-direction: column;
    align-items: center; 
    &__title{
        font-family: "Noodle";
        font-size: 1.4rem;
        color: #f8f6f6; 
    }
}
.main-title{
    text-align: center;
    margin: 95px 0px 0px;
    font-family: "Noodle";
    font-size: 4.8rem;
    color: #353535;
}
.main-title:after{
    width:150px;
    height:3px;
    display:block;
    content:"";
    background-color:#f6744b;
    margin:0 auto;
    position: relative;
    top: 15px;
}
.second-title{
    margin-top: 30px;
    text-align: center;
    font-family: "Roboto";
    font-size: 1.6rem;
    color: #9c9c9c;
    font-weight: 600;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    &__item{
    padding: 10px 45px;
    margin: 60px 0px 120px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    background-color: #f8f6f6;
    }
    &__icons{
    fill: #f4511e;
    stroke: #f4511e;
    }
    &__icon{
        padding-top:20px; 
    }
}    
.item{
    &__maintitle{
        font-family: "Noodle";
        font-size: 1.8rem;
        color: #353535;
    }
    &__title{
        text-align: center;
        font-family: "Roboto";
        font-size: 1.4rem;
        color: #9c9c9c;
        font-weight: 600;
    }
}
.video{
    overflow: hidden;
    &__bg{
        background-color: #353535;
        width: 50%;
        height: 430px;
        margin-right: 0;
        float: left;      
    }
    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        background-image: url(../img/video.png);
        width:50%;
        height: 430px;
        box-shadow: inset 0 0 0 1000px rgba(46, 46, 46, 0.7)
    }
}
.bg{
    &__maintitle{
        margin: 0;
        padding-top: 100px;
        font-family: "Noodle";
        font-size: 3rem;
        color: #f8f6f6;
    }
    &__title{
        text-align: center;
        margin:30px 0px 50px;
        font-family: "Roboto";
        font-size: 1.4rem;
        color: #f8f6f6;
    }
    &__content{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__button{
        letter-spacing: 1px;
        text-decoration: none;
        font-family: "Noodle";
        font-size: 1.4rem;
        color: #f8f6f6;
        background-color: #e84c3d;
        padding: 12px 30px; 
        border-bottom:3px solid #f6744b;  
    }
}
.image{
    &__play{
        fill: #f8f6f6;
        stroke: #f8f6f6;
    }
}
.works{
    &__menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__item{
        margin: 90px 7px 35px;
        text-decoration: none;
        font-family: "Regular";
        font-size: 1.4rem;
        color: #353535;
        &:after{
            width:100%;
            height:2px;
            display:none;
            content:"";
            background-color:#f6744b;
            margin:0 auto;
        }
        }
    &__item:hover {
        font-family: "Bold";
        &:after{
            display: block;
        }
    }
    &__gallery{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }   
}
.gallery{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__item{
       max-width: 260px;
    }
}
.clients{
    margin-top: 0px;
    background-color: #353535;
} 
.client{
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__brand{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    &__name{
        font-family: "Modata";
        font-size: 3.3rem;
        color: #f8f6f6;
        padding: 55px 0px;
    }
    &__logo{
        width: 67px;
        height: 72px;
    }
}
.form{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background-color: #f8f6f6;
    &__maintitle{
        margin: 0;
        font-family: "Bold";
        font-size: 2rem;
        color: #353535;
    }
    &__title{
        margin: 0;
        font-family: "Regular";
        font-size: 1.4rem;
        color: #353535;
    }
    &__img{
        padding: 70px 0px 30px;
        width: 130px;
        height: 130px;
    }    
}
.member{
    margin: 20px 0px 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__icon{
        text-decoration: none;
        font-family: "Fontello";
        font-size: 2rem;
        color: #353535;
    }
}
.form-skills{
    background-color: #f8f6f6;
}
.skills{
    margin-top: 90px;
    width: 660px;
    &__maintitle{
        padding: 125px 0px 30px 60px;
        margin: 0;
        font-family: "Bold";
        font-size: 2rem;
        color: #353535;
    }
    &__title{
        padding-left: 60px;
        margin: 0;
        font-family: "Regular";
        font-size: 1.4rem;
        color: #9c9c9c;
    }
    &__item{
        margin:40px 0px 35px 60px;
    }
}
.whoweare-members{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.percent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__maintitle{
        font-family: "Bold";
        font-size: 1.4rem;
        color: #353535;
    }
    &__item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    &__title{
        margin: 7.5px 0px;
        font-family: "Regular";
        font-size: 1.4rem;
        color: #353535;
    }
    &__graphic{
        margin-top: 8px;
    }
    &__scale{
        width:370px;
        height:3px;
        color: white;
        padding: 9px 0px;
    }
    &__scale--one{
        &:before{
            width: 88%;
            height: 2px;
            display:block;
            content:"";
            background-color:#e84c3d;
            margin:0;
        }
    }
    &__scale--two{
        &:before{
            width: 92%;
            height: 2px;
            display:block;
            content:"";
            background-color:#e84c3d;
            margin:0;
        }
    }
    &__scale--three{
        &:before{
            width: 90%;
            height: 2px;
            display:block;
            content:"";
            background-color:#e84c3d;
            margin:0;
        }
    }
    &__scale--four{
        &:before{
            width: 98%;
            height: 2px;
            display:block;
            content:"";
            background-color:#e84c3d;
            margin:0;
        }
    }
}
.features{
    margin-top:100px; 
    background-color: #171f23;
}
.featuretitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        margin:60px 0px 0px;
        letter-spacing: 5px;
        font-family: "Noodle";
        font-size: 3.6rem;
        color: #f8f6f6;
        &:after{
            width:80px;
            height:1px;
            display:block;
            content:"";
            background-color:#f8f6f6;
            margin:0 auto;
            position: relative;
            top:15px;
        }
    }
}
.feature{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__item{
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img{
        margin: 60px 0px 0px;
        font-family: "Fontello";
        font-size: 6rem;
        color: #f4511e;
    }
    &__maintitle{
        margin: 30px 0px;
        font-family: "Roboto";
        font-size: 1.8rem;
        color: #f8f6f6;
    }
    &__title{
        margin: 0px 0px 70px;
        font-family: "Roboto";
        font-size: 4.8rem;
        color: #f8f6f6;
        font-weight: 600;
    }
}
.blogs{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__itm{
        background-color: #f8f6f6;
        width: 28%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__maintitle{
        font-family: "Regular";
        font-size: 1.8rem;
        color: #9c9c9c;
    }
    &__title{
        padding: 0px 20px;
        text-align: center;
        font-family: "Regular";
        font-size: 1.4rem;
        color: #9c9c9c;
    }
    &__img{
        background-image: url("../img/blog.jpg");
        width: 320px;
        height: 220px;
    }
}
.imageblog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__icon{
        display:none;
        margin: 10px;
        padding: 10px;
        font-family: "Fontello";
        font-size: 2rem;
        background-color: #f8f6f6;
        color: #f4511e;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
    }
}
.imageblog:hover .imageblog__icon{
    display: block;
}
.imageblog__icon:hover{
    color: #f8f6f6;
    background-color: #f6744b;
}
.date{
    padding: 0px 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__maintitle{
        margin-right: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;    
    }
    &__title{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    &__icon{
        margin-right: 5px;
        font-family: "Fontello";
        font-size: 1.6rem;
        color: #9c9c9c;
    }
    &__text{
        margin-right: 3px;
        font-family: "Regular";
        font-size: 1.4rem;
        color: #9c9c9c;
    }
}
.choseplan{
    background-color: #171f23;
    margin-top:115px; 
}
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        margin:60px 0px 75px;
        letter-spacing: 5px;
        font-family: "Noodle";
        font-size: 3.6rem;
        color: #f8f6f6;
        &:after{
            width:80px;
            height:1px;
            display:block;
            content:"";
            background-color:#f8f6f6;
            margin:0 auto;
            position: relative;
            top:15px;
        }
    }
}
.plans{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    &__item{
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1f282c;
        width: 20%;
        margin-bottom: 100px;   
    }
    &__maintitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px 40px; 
        background-color: #0e1316;
        width: 100%;
    }   
    &__text{
        margin: 0px 0px 8px; 
        text-align: center;
        font-family: "Bold";
        font-size: 1.4rem;
        color: #f8f6f6;
    }
    &__text--big{
        margin: 0;
        text-align: center;
        font-family: "Regular";
        font-size: 3.6rem;
        color: #f8f6f6;
    }
    &__title{
        padding: 45px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__content{
        font-family: "Regular";
        font-size:1.4rem;
        color: #f8f6f6;
    }
    &__bold{
        font-family: "Bold";
        font-size:1.4rem;
        color: #f8f6f6;
    }
    &__button{
        text-decoration: none;
        font-family: "Bold";
        font-size: 1.4rem;
        color: #f8f6f6;
        margin-top: 75px;
        background-color: #f6744b;
        padding: 10px 25px;
        border-radius: 4px;
    }
}
.plans__item:hover{
    margin-top: 0px;
    border: 3px solid #f6744b;
    border-radius: 5px;
}
.plans__item:hover .plans__bold{
    color: #f6744b;
}
.contactus{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__lable{
        font-family: "Bold";
        font-size: 1.4rem;
        color: #353535;
    }
    &__lable--red{
        color: #e84c3d;
    }
    &__input{
        margin-bottom: 20px;
        height: 50px;
        width: 370px;
        border: 2px solid white;
        border-bottom: 2px solid #9c9c9c;
    }
    &__input--big{
        margin-bottom: 20px;
        height: 50px;
        width: 760px;
        border: 2px solid white;
        border-bottom: 2px solid #9c9c9c;
    }
    &__item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__form{
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__form--little{
        margin:60px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__button{
        font-family: "Bold";
        font-size: 1.4rem;
        color: #f8f6f6;
        background-color: #f6744b;
        padding: 15px 40px;
        border: none;
        border-radius: 1px;
        margin-bottom: 80px;
    }
}
.footer{
    background-color: #171f23;
   
    &__title{
        display: flex;
        justify-content: center;
        padding: 35px 0px;
        background-color: #0e1316;
        width: 100%;
    }
    &__maintitle{
        font-family: "Bold";
        font-size: 2.4rem;
        color: #f8f6f6;
    }
    &__logo{
        margin-top: 60px;
        width: 29px;
        height: 45px;
    }
    &__item{
        margin: 5px 0px 0px;
        font-family: "Noodle";
        font-size: 2rem;
        color: #f8f6f6;
    }
    &__item--roboto{
        margin: 5px 0px 0px;
        font-family: "Regular";
        font-size: 1.4rem;
        color: #f8f6f6;
    } 
    &__links{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }  
    &__link{
        margin-top: 0px;
        margin-right: 5px;
        font-family: "Fontello";
        font-size: 2rem;
        color: #f8f6f6;
        margin-bottom: 80px;
    } 
    &__titles{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:1024px){
    .container{
        width: 90%;
    }
    .blogs{
        flex-direction: column;
        align-items: center;
        &__itm{
            margin-bottom: 30px;
            width: 420px;
        }
        &__img{
            background-size: cover;
            background-image: url("../img/blog.jpg");
            width: 420px;
            height:320px;
        }
    } 
    .plans{
        flex-wrap: wrap;
        &__item{
            width:40%;
        }
    }
    .form-skills{
        background-color: #f8f6f6;
    }
    .skills{
        width: 90%;
        margin-top: 90px;
        box-sizing: border-box;
        &__maintitle{
        padding: 25px 0px 30px;
        text-align: center;
        }
        &__title{
            padding-left: 0px;
            text-align: center;
        }
        &__item{
            margin:20px 0px;
        }
    }
    .whoweare-members{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about{
        justify-content: space-between;
        &__item{
            width:32%; 
            box-sizing: border-box;
        }
    } 
}
@media(max-width:960px){
    .html{
        font-size: 9px;
    }
    .creative-main{
        &__maintitle{ 
        letter-spacing: 3px;
        font-size: 6.2rem; 
        }
        &__title{ 
            letter-spacing: 3px;
            font-size: 3.2rem;
        }
    } 
    .video{
        &__bg{
            width: 100%;         
        }
        &__img{
            width:100%;
        }
    } 
    .gallery{
        &__item{
            margin-bottom: 10px;
        }
    }
    .client{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__brand{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        &__name{
            font-family: "Modata";
            font-size: 3.3rem;
            color: #f8f6f6;
            padding: 15px 0px;
            margin: 0px;
        }
        &__logo{
            width: 67px;
            height: 72px;
        }
    }
    .feature{
        flex-wrap: wrap;
        &__item{
            width: 50%;
        }
        &__img{
            font-size: 6.6rem;
        }
        &__maintitle{
            font-size: 2.4rem;
        }
        &__title{
            font-size: 5.4rem;
        }
    } 
    .contactus{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__lable{
            font-family: "Bold";
            font-size: 1.4rem;
            color: #353535;
        }
        &__lable--red{
            color: #e84c3d;
        }
        &__input{
            margin-bottom: 20px;
            height: 50px;
            width: 220px;
            border: 2px solid white;
            border-bottom: 2px solid #9c9c9c;
        }
        &__input--big{
            margin-bottom: 20px;
            height: 50px;
            width: 460px;
            border: 2px solid white;
            border-bottom: 2px solid #9c9c9c;
        }
    }    
    .percent{
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        &__scale{
            width:220px;
            height:3px;
            color: white;
            padding: 9px 0px;
        }
    } 
    .about{
        justify-content: space-between;
        &__item{
            width:32%; 
            box-sizing: border-box;
        }
    }          
}
@media(max-width: 570px){
    .html{
        font-size: 5px;
    }
    .creative-main{
        &__maintitle{ 
            padding-top: 0px;    
            letter-spacing: 1px;
            font-size: 3.2rem; 
        }
        &__title{ 
            margin-top: 20px;
            padding-bottom: 10px;
            letter-spacing: 1px;
            font-size: 2.2rem;
        }
    }
    .main-title{
        font-size: 3.8rem;
    }
    .main-title:after{
        width:100px;
    } 
    .about{
        flex-direction: column;
        align-items: center;
        &__item{
            width:80%; 
            box-sizing: border-box;
        }
    } 
    .video{
        &__bg{
            box-sizing: border-box;  
        }
        &__img{
            height: 250px;
        }
    }
    .works{
        &__menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__item{
            width: 40%;
            margin: 10px 7px 15px;
            &:after{
                width:55%;
                height:1px;
                margin:0;
            }
        }  
    }
    .percent{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
    }
    .feature{
        flex-wrap: wrap;
        &__item{
            width: 80%;
        }
    }
    .blogs{
        flex-direction: column;
        align-items: center;
        &__itm{
            margin-bottom: 30px;
            width: 280px;
        }
        &__img{
            background-size: cover;
            background-image: url("../img/blog.jpg");
            width: 280px;
            height:220px;
        }
    }
    .date{
        &__maintitle{
            margin-right: 10px;
        }
    }   
    .plans{
        &__item{
            width:60%;
        }
        &__item{
            margin-bottom: 20px;   
        }
        &__maintitle{
            padding: 10px 0px 10px; 
        }   
        &__title{
            padding: 15px 0px;
        }
        &__button{
            margin-top: 15px;
        }
    }   
    .contactus{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__item{
            justify-content: center;
            flex-direction: column;
        }
        &__input{
            height: 40px;
            width: 270px;
        }
        &__input--big{
            height: 40px;
            width: 270px;   
        }
        &__form{
            margin-bottom: 20px;
        }
        &__form--little{
            margin:10px 0px 0px 0px;
        }
    }      
}
